@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Home Page";
}

    <ul class="gigs">
        @foreach(var gig in Model)
        {
            <li class="m-4">
                <div class="calendar">
                    <div class="month">
                        @gig.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @gig.DateTime.Day
                    </div>
                </div>
                <div class="artist">
                    <span><strong>@gig.Artist.Name</strong></span>
                    <span>@gig.Genre.Name</span>
                </div>
            </li>            
        }
    </ul>